.footer {
    background-color: black;
    color: white;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;  
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-left li {
    margin-bottom: 10px;
  }

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .footer-logo {
    max-width: 100px;
    height: auto;
  }
  